a.my-link {
    color: #F50057 !important;
}
a.my-link:hover {
    color: #000000 !important;
}

.spacer {
    height: 6rem;
}

.covermac {
  height: 30rem;
  background-image: url('../images/design_full.jpg');
  background-position: center center;
  background-attachment:scroll;
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
  background-color: #000000;
}

li {
margin-bottom: 1em;
}
