body::before {
  width: 100vw;
  height: 100vh;
  z-index: -1;
    content: '';
    pointer-events: none;
    display: grid;
    grid-template-columns: repeat(var(--cols),var(--gridSize));
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-width: 1600px;
    margin: auto;
    background: -webkit-linear-gradient(0deg,#f2f2f2 1px,transparent 0px) 0 0 / var(--gridSize) auto;
}
