a.my-link {
    color: #F50057 !important;
}
a.my-link:hover {
    color: #000000 !important;
}

.spacer {
    height: 4rem;
}

.intro {
  height: 30rem;
  background-image: url('../images/design.jpg');
  background-position: center center;
  background-attachment:scroll;
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
  background-color: #000000;
}

.rect-dark {
  background-color: rgba( 52, 58, 64, 0.9 );
}

.rect-blue {
  background-color: rgba( 41, 98, 255, 0.9 );
}

.phoneimage {
  height: 16rem;
  background-image: url('../images/appDesign.png');
  background-position: center center;
  background-attachment:scroll;
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
  background-color: #000000;
}
