@charset "UTF-8";
:root{
    --black: #444444;
    --grey: #A2A6BD;
    --white: #ffffff;
    --five-eights:61%;
    --four-eights:48%;
    --three-eights:36%;
}
body{
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

    width: 80%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    color: var(--black);
}
a:hover{
    opacity: 50%;
}
img{
    object-fit: contain;
    width: 100%;
}
header{
    height: 128px;
}
header a{
    display: block;
    padding-top: 48px;
}
header path{
    fill:var(--black);
    margin: auto;
}
.breadcrumbs > ul {
    display: flex;
    margin: 16px 0px;
    padding-left: 0px;
}
nav ul {
    list-style: none;
}
nav li, nav a {
    color: var(--black);
    font-size: 14px;
}
.breadcrumbs li + li:before {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: var(--black);
    border-radius: 50%;
    content: "";
    vertical-align: 3px;
    margin: 0px 8px;
}
section{
    margin-bottom: 160px;
}
h1{
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;

}
h1.motto{
    position: absolute;
    bottom: 0;
}
h1 span{
    display: inline-block;
}
h2{
    color: var(--black);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
}
.box + h2, .box + p {
    margin-top: 16px;
}
.text-overflow h2 {
    margin-top: -8px;
}
h3{
    color: var(--grey);
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 8px;
}
p{
    font-size: 14px;
    font-weight: 400;
    /* margin-top: 0px; */
    margin-bottom: 0px;
}
h2 + p {
    margin-top: 8px;
}
.button-container {
    margin-top: 40px;
    display: flex;
}
.text-overflow .button-container {
    margin-top: 16px;
}
.button{
    color: var(--black);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 24px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--black);
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
}
.button img{
    margin-right: 8px;
    margin-bottom: 2px;
    vertical-align: middle;
    width: auto;
    height: auto;
}
.button.contained{
    color:var(--white);
    background-color: var(--black);
}
.button + .button{
    margin-left: 24px;
}
.container{
    display: flex;
}
.container + .container{
    margin-top: 24px;
}
.container + .container-wide-top{
    margin-top: 80px;
}
.box + .box {
    margin-left: 32px;
}
.container .box-full{
    width: 100%;
}
.container .box-five-eights{
    width: var(--five-eights);
    position:relative;
}
.container .box-half{
    width: var(--four-eights);
}
.container .box-half p{
    margin-top: 16px;
}
.container .box-three-eights{
    width: var(--three-eights);
    text-align: center;
}
.container .box-three-eights .profile-image{
    margin: auto;
    width: 160px;
}
footer{
    height: 80px;
    color: var(--grey);
}
footer p{
    line-height: 80px;
}

@media screen and (max-width: 767px) {
    h1.motto{
        position: relative;
    }
    .text-overflow h2 {
        margin-top: 16px;
    }
    .container {
        flex-direction: column;
      }
    .container .box{
        width: 100%;
    }
    .container .box-three-eights .profile-image{
        width: 120px;
    }
    .container + .container-wide-top{
        margin-top: 48px;
    }
    .box + .box {
        margin-left: 0px;
    }
    .box-half + .box-half {
        margin-top: 48px;
    }
    .column-reverse{
        flex-direction: column-reverse;
    }

    .button-container {
        flex-direction: column;
    }
    .text-overflow .button-container {
        margin-top: 40px;
    }
    .button{
        width: 128px;
    }
    .button + .button{
        margin-left: 0px;
        margin-top: 12px;
    }
    .profile-image-container{
        margin-top: 24px;
    }
}
