.profile-card.mdl-card {
  width: 320px;
  height: 320px;
  margin:0px auto;
}
.profile-card > .mdl-card__title {
  color: #fff;
  background:
    url('../images/profile.png') bottom right 15% no-repeat #46B6AC;
  background-size:320px auto;
}
.centered {
  text-align: center;
}
.design-image {
  background: url('../images/design.jpg') center center no-repeat;
  background-size: cover;
  height: 400px;
}
.spacer {
  height: 128px;
}
.art-image {
  background: url('../images/openFrameworks_Ellipse_comp.png') center center no-repeat;
  background-size: cover;
  height: 400px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
}

.list-element {
  margin: 8px;
}

.spacerS {
  height: 64px;
}

.navigation-hover .mdl-navigation__link {
  color: #e0e0e0;
}
.navigation-hover .mdl-navigation__link:hover {
  color: #ffffff;
  font-weight: bold;
  border-bottom: 4px solid #ffffff;
}

.demo-back {
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  z-index: 9999;
}
