.profile-card.mdl-card {
  width: 320px;
  height: 320px;
  margin:0px auto;
}
.profile-card > .mdl-card__title {
  color: #fff;
  background:
    url('../images/profile.png') bottom right 15% no-repeat #46B6AC;
}
.centered {
  text-align: center;
}
.design-image {
  background: url('../images/design.jpg') center center no-repeat;
  background-size: cover;
  height: 400px;
}
.spacer {
  height: 128px;
}
.art-image {
  background: url('../images/openFrameworks_Ellipse_comp.png') center center no-repeat;
  background-size: cover;
  height: 400px;
}
